body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-form{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}

a:hover{
    color: rgb(0, 9, 90);
}

b{  
    font-size: 20pt;
    font-weight: 800;
}

input, button{
    width: 90%;
    margin: 10% auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63, 0.2);
    display: block;
}

button{
    background-color: rgb(16, 137, 185);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(0, 64, 83);
}